/* AddEntry Form */
.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

/* Navbar pill button */
#btn-pill {
	font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  padding: 8px 30px !important;
  line-height: 32px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #f8f8f8;
  border: 2px solid #03b9a0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #5c5c5c;
}

#btn-pill:hover {
  color: #f8f8f8 !important;
	background-color: #03b9a0 !important;
}

/* Navbar styling */

.logo {
  max-width: 150px;
  margin-top: 5px;
  cursor: pointer;
}

.nav-col {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .logo {
    max-width: 235px;
  }
  #btn-pill {
  	font-size: 16px;
    margin: 15px 0;
  }
}

@media (min-width: 768px) {
  .navbar-text {
    margin-right: 0px;
  }

  .navbar-right {
    margin-right: 0px;
  }

  .navbar {
    min-height: 80px;
  }
}

/* Full height background color for active tab */
.navbar-nav > li > a {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Cursor override for removed href's */
.nav a {
  cursor: pointer;
}

/* Prevent glypicon buttons from looking like a button */
.glyphicon-button {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

/* dashboard */
.table-margin {
  margin: 0px 8px;
}

/* Dashboard main panel heading */
.panel-heading-main {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Dashboard search bar */
.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* profile page */

.profile-pic {
  width: 140px;
  height: 140px;
  margin: 5px;
}

.logo-pic {
  width: 110px;
  height: 110px;
}

.warning-box {
  margin: 5px;
}

/* CSS for Pipeline */
.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #5c5c5c;
  text-align: center;
  font-size: 16px;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.circle1:after {
  background-color: #daefec;
}

.circle2:after {
  background-color: #bde7e2;
}

.circle3:after {
  background-color: #88dacf;
}

.circle4:after {
  background-color: #5ed0c0;
}

.circle5:after {
  background-color: #2ac3ae;
}

.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 1000px) {
  .col-lg-1st {
      width: 24%;
      float: left;
  }
  .col-lg-2nd {
      width: 22%;
      float: left;
  }
  .col-lg-3rd {
      width: 20%;
      float: left;
  }
  .col-lg-4th {
      width: 18%;
      float: left;
  }
  .col-lg-5th {
      width: 16%;
      float: left;
  }
  .vertical-align {
    display: flex;
    flex-direction: row;
  }

  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Pagination */
.pagination {
  margin: 0px;
  float:right;
}

.pagination > li > a {
  padding: 4px 10px;
}

.pagination > .active > a {
  background-color: #03b9a0;
  border-color: #03b9a0;
}

.pagination > li > a {
  color: #03b9a0;
}

/* font awesome icon size */
.fa-icon {
  font-size: 1.5em;
}

/* Table heading color */
th, th a {
  color: #5c5c5c;
}

/* Link color */
a, .editable-click, a.editable-click{
  color: #03b9a0;
}

/* Angellist social icons */
p.social-angel > a {
  color: #333333;
}

p.social-angel > a > img {
  max-width: 18px;
  border-radius: 3px;
}
