<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ founder.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" ng-hide="fullContact.photos[0]">
        <img src="assets/logo_blank.svg" alt="Startup Gravatar" class="img-thumbnail">
      </div>
      <div class="col-md-2" ng-show="fullContact.photos[0]">
        <img src="{{ fullContact.photos[0].url }}" class="img-thumbnail">
      </div>

      <form editable-form name="tableform" onaftersave="updateFounder(founder)" oncancel="cancel()">

        <div class="col-md-4">
          <p><strong>Email: </strong><span editable-email="founder.email">{{ founder.email || 'empty'  }}</span></p>
          <p><strong>Phone: </strong><span editable-tel="founder.phone">{{ founder.phone || 'empty' }}</span></p>
          <p><strong>Secondary Phone:</strong> {{ founder.phone2 }}</p>
          <p><strong>Address:</strong> {{ founder.address }}</p>
          <p><strong>Secondary Address:</strong> {{ founder.address2 }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Social Profiles:</strong></p>
          <p><strong>Intro Date:</strong> {{ founder.date | amDateFormat:'MM/DD/YYYY' }}</p>
          <p><strong>Last Contact:</strong> {{ founder.lastContact | amDateFormat:'MM/DD/YYYY' }}</p>
        </div>

        <div class="col-md-2">
          <div class="btn-edit">
            <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">edit</button>
          </div>
          <div class="btn-form" ng-show="tableform.$visible">
            <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
            <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
          </div>
          <div>
            <button type="button" class="btn btn-default" ng-click="open(founder.name, founder.id, founder)">Add Note</button>
          </div>
          <div>
            <button type="button" class="btn btn-default" ng-click="getFullContact(founder.email)" ng-show="founder.email">Get Profile</button>
            <div>
              <p class="bg-warning warning-box" ng-show="!founder.email"><i class="fa fa-exclamation-triangle"></i> Want more social data on this founder? Add their email address by clicking 'edit' above.</p>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>

  <div class="table-margin">
    <div ng-show="fullContact.status === 200" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Social & Contact Info</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>AngelList Bio: </strong>{{ fullContactSocialProfiles.angellist.bio || 'Not Available'}}
        </p>
        <div class="row">
          <div class="col-md-4">
            <p>
              <strong>Location: </strong>{{ fullContact.demographics.locationGeneral || 'Not Available' }}
            </p>
            <p>
              <strong>Gender:</strong>
              {{ fullContact.demographics.gender || 'Not Available' }}
            </p>
            <p>
              <strong>Skills: </strong>
              <span ng-repeat="skill in fullContact.digitalFootprint.topics">{{ skill.value || 'Not Available' }}, </span>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Job History: </strong>
              <ul ng-repeat="job in fullContact.organizations">
                <li>
                  {{ job.title }}, {{ job.name }}
                </li>
              </ul>
            </p>
            <p>
              <strong>Websites:</strong>
              <ul ng-repeat="website in fullContact.contactInfo.websites">
                <li>
                  <a href="{{ website.url }}">{{ website.url || 'Not Available' }}</a>
                </li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Social Profiles:</strong><br />

              <a href="{{ fullContactSocialProfiles.twitter.url }}" ng-show="fullContactSocialProfiles.twitter" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.angellist.url }}" ng-show="fullContactSocialProfiles.angellist" target="_blank"><i class="fa fa-angellist fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.facebook.url }}" ng-show="fullContactSocialProfiles.facebook" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.linkedin.url }}" ng-show="fullContactSocialProfiles.linkedin" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.github.url }}" ng-show="fullContactSocialProfiles.github" target="_blank"><i class="fa fa-github-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.googleplus.url }}" ng-show="fullContactSocialProfiles.googleplus" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.youtube.url }}" ng-show="fullContactSocialProfiles.youtube" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.flickr.url }}" ng-show="fullContactSocialProfiles.flickr" target="_blank"><i class="fa fa-flickr fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.foursquare.url }}" ng-show="fullContactSocialProfiles.foursquare" target="_blank"><i class="fa fa-foursquare fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.instagram.url }}" ng-show="fullContactSocialProfiles.instagram" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.pinterest.url }}" ng-show="fullContactSocialProfiles.pinterest" target="_blank"><i class="fa fa-pinterest-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.xing.url }}" ng-show="fullContactSocialProfiles.xing" target="_blank"><i class="fa fa-xing-square fa-lg"></i></a>
            </p>
            <p>
              <strong>Twitter Stats: </strong>
              <ul>
                <li><strong>Bio: </strong> {{ fullContactSocialProfiles.twitter.bio}}</li>
                <li><strong>Followers: </strong> {{ fullContactSocialProfiles.twitter.followers}}</li>
                <li><strong>Following: </strong> {{ fullContactSocialProfiles.twitter.following}}</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <p>
            <strong>Social Avatars: </strong><br />
            <span ng-repeat="picUrl in fullContact.photos">
              <img src="{{ picUrl.url }}" class="img-thumbnail profile-pic" />
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Startups</h3>
      </div>
      <div class="panel-body">
        <p>{{ founder.name }} is associated with {{ startups.length }} startup(s).</p>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Startup</th>
              <th>Website</th>
              <th>Location</th>
              <th>Pipeline</th>
            </tr>
          </thead>
          <tbody ng-repeat="startup in startups">
            <tr>
              <td><a ui-sref="startup({ startupId: startup.$id })">{{ startup.name }}</a></td>
              <td>{{ startup.website }}</td>
              <td>{{ startup.location }}</td>
              <td>{{ startup.pipeline }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        <p>You currently have {{ notes.length || 0 }} notes related to {{ founder.name }}.</p>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>Note</th>
              <th>Date Entered</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody ng-repeat="note in notes">
            <tr>
              <td>
                <span editable-select="note.status" e-name="status" e-form="rowform" e-ng-options="s.text as s.text for s in statuses">
                  {{ note.status }}
                </span>
              </td>
              <td>
                <span editable-text="note.note" e-name="note" e-form="rowform" e-required>
                  {{ note.note }}
                </span>
              </td>
              <td am-time-ago="note.date"></td>
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible" onaftersave="updateNotes(note)" class="form-buttons form-inline">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-default" ng-click="rowform.$show()">edit</button>
                  <!-- <button class="btn btn-danger" ng-click="removeUser($index)">del</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
