
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ founder.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/logo_blank.svg" alt="..." class="img-thumbnail">
      </div>
      <form editable-form name="tableform" onaftersave="updateFounder(founder)" oncancel="cancel()">
        <div class="col-md-4">
          <p><strong>Email: </strong><span editable-email="founder.email">{{ founder.email || 'empty'  }}</span></p>
          <p><strong>Phone: </strong><span editable-tel="founder.phone">{{ founder.phone || 'empty' }}</span></p>
          <p><strong>Secondary Phone:</strong> {{ founder.phone2 }}</p>
          <p><strong>Address:</strong> {{ founder.address }}</p>
          <p><strong>Secondary Address:</strong> {{ founder.address2 }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Social Profiles:</strong></p>
        </div>
        <div class="btn-edit">
          <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
            edit
          </button>
        </div>
        <div class="btn-form" ng-show="tableform.$visible">
          <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
        </div>
        <div>
      </form>
      <div>
        <button type="button" class="btn btn-default" ng-click="getFullContact(founder.email)">Get Profile</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Startups</h3>
    </div>
    <div class="panel-body">
      <p>{{ founder.name }} has founded {{ startups.length }} startup(s). They are:</p>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Startup</th>
            <th>Website</th>
            <th>Location</th>
            <th>Pipeline</th>
          </tr>
        </thead>
        <tbody ng-repeat="startup in startups">
          <tr>
            <td><a ui-sref="startup({ startupId: startup.$id })">{{ startup.name }}</a></td>
            <td>{{ startup.website }}</td>
            <td>{{ startup.location }}</td>
            <td>{{ startup.pipeline }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Notes</h3>
  </div>
  <div class="panel-body">
    <p>You currently have {{ notes.length || 0 }} notes related to {{ founder.name }}. They are:</p>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Note</th>
          <th>Date Entered</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody ng-repeat="note in notes">
        <tr>
          <td>
            <span editable-select="note.status" e-name="status" e-form="rowform" e-ng-options="s.text as s.text for s in statuses">
              {{ note.status }}
            </span>
          </td>
          <td>
            <span editable-text="note.note" e-name="note" e-form="rowform" e-required>
              {{ note.note }}
            </span>
          </td>
          <td am-time-ago="note.date"</td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" ng-show="rowform.$visible" onaftersave="updateNotes(note)" class="form-buttons form-inline">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                  cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-default" ng-click="rowform.$show()">edit</button>
                <!-- <button class="btn btn-danger" ng-click="removeUser($index)">del</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
