<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ founder.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" ng-hide="fullContact.photos[0]">
        <img src="assets/logo_blank.svg" alt="Startup Gravatar" class="img-thumbnail">
      </div>
      <div class="col-md-2" ng-show="fullContact.photos[0]">
        <img src="{{ fullContact.photos[0].url }}" class="img-thumbnail">
      </div>

      <form editable-form name="tableform" onaftersave="updateFounder(founder)" oncancel="cancel()">

        <div class="col-md-4">
          <p><strong>Email: </strong><span editable-email="founder.email">{{ founder.email || 'empty' }}</span></p>
          <p><strong>Phone: </strong><span editable-tel="founder.phone">{{ founder.phone || 'empty' | tel }}</span></p>
          <p><strong>Intro Date:</strong> {{ founder.date | amDateFormat:'MM/DD/YYYY' }}</p>
          <p><strong>Last Contact:</strong> {{ founder.lastContact | amDateFormat:'MM/DD/YYYY' }}</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
          <div>
            <p class="bg-warning warning-box" ng-show="!founder.email"><i class="fa fa-exclamation-triangle"></i> Want more social data on this founder? Add their email address by clicking 'edit' above.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-2">
          <nav>
            <ul class="nav nav-stacked span2">
              <li><button type="button" class="btn btn-profile btn-block" ng-show="!tableform.$visible" ng-click="tableform.$show()" style="background-color: #f8f8f8;border: 2px solid #03b9a0; color: #5c5c5c">Edit Profile</button></li>
              <li><button type="submit" class="btn btn-profile btn-success btn-block" ng-show="tableform.$visible" ng-disabled="tableform.$waiting">Save</button></li>
              <li><button type="button" class="btn btn-profile btn-danger btn-block" ng-show="tableform.$visible" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()">Cancel</button></li>
              <li ng-show="founder.email"><button type="button" class="btn btn-profile btn-block" ng-click="getFullContact(founder.email)" style="background-color: #f8f8f8;border: 2px solid #03b9a0; color: #5c5c5c">Get Profile</button></li>
              <li><button type="button" class="btn btn-profile btn-block" ng-click="open(startup.name, startup.id)" style="background-color: #f8f8f8;border: 2px solid #03b9a0; color: #5c5c5c">Add Note</button></li>
            </ul>
          </nav>
        </div>
      </form>
    </div>
  </div>

  <div class="table-margin">
    <div ng-show="fullContact.status === 200" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Social & Contact Info</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>AngelList Bio: </strong>{{ fullContactSocialProfiles.angellist.bio || 'Not Available'}}
        </p>
        <div class="row">
          <div class="col-md-4">
            <p>
              <strong>Location: </strong>{{ fullContact.demographics.locationGeneral || 'Not Available' }}
            </p>
            <p>
              <strong>Gender:</strong>
              {{ fullContact.demographics.gender || 'Not Available' }}
            </p>
            <p>
              <strong>Skills: </strong>
              <span ng-repeat="skill in fullContact.digitalFootprint.topics">{{ skill.value || 'Not Available' }}, </span>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Job History: </strong>
              <span class="list-unstyled" ng-repeat="job in fullContact.organizations">
                  {{ job.title }}-{{ job.name }}{{$last ? '' : ', '}}
              </span>
            </p>
            <p>
              <strong>Websites:</strong>
              <ul class="list-unstyled" ng-repeat="website in fullContact.contactInfo.websites">
                <li>
                  <a href="{{ website.url }}" target="_blank">{{ website.url || 'Not Available' }}</a>
                </li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <p class="social-angel">
              <strong>Social Profiles:</strong>

              <a href="{{ fullContactSocialProfiles.twitter.url }}" ng-show="fullContactSocialProfiles.twitter" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.angellist.url }}" ng-show="fullContactSocialProfiles.angellist" target="_blank"><i class="fa fa-angellist fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.facebook.url }}" ng-show="fullContactSocialProfiles.facebook" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.linkedin.url }}" ng-show="fullContactSocialProfiles.linkedin" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.github.url }}" ng-show="fullContactSocialProfiles.github" target="_blank"><i class="fa fa-github-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.googleplus.url }}" ng-show="fullContactSocialProfiles.googleplus" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.youtube.url }}" ng-show="fullContactSocialProfiles.youtube" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.flickr.url }}" ng-show="fullContactSocialProfiles.flickr" target="_blank"><i class="fa fa-flickr fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.foursquare.url }}" ng-show="fullContactSocialProfiles.foursquare" target="_blank"><i class="fa fa-foursquare fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.instagram.url }}" ng-show="fullContactSocialProfiles.instagram" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.pinterest.url }}" ng-show="fullContactSocialProfiles.pinterest" target="_blank"><i class="fa fa-pinterest-square fa-lg"></i></a>

              <a href="{{ fullContactSocialProfiles.xing.url }}" ng-show="fullContactSocialProfiles.xing" target="_blank"><i class="fa fa-xing-square fa-lg"></i></a>
            </p>
            <p>
              <strong>Twitter Stats: </strong>
              <ul class="list-unstyled">
                <li><strong>Bio: </strong> {{ fullContactSocialProfiles.twitter.bio}}</li>
                <li><strong>Followers: </strong> {{ fullContactSocialProfiles.twitter.followers}}</li>
                <li><strong>Following: </strong> {{ fullContactSocialProfiles.twitter.following}}</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <p>
            <strong>Social Avatars: </strong><br />
            <span ng-repeat="picUrl in fullContact.photos">
              <img src="{{ picUrl.url }}" class="img-thumbnail profile-pic" />
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Startups</h3>
      </div>
      <div class="panel-body">
        <p>{{ founder.name }} is associated with {{ startups.length }} startup(s).</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Startup</th>
              <th>Website</th>
              <th>Location</th>
              <th>Pipeline</th>
            </tr>
          </thead>
          <tbody ng-repeat="startup in startups">
            <tr>
              <td><a ui-sref="startup({ startupId: startup.$id })">{{ startup.name }}</a></td>
              <td>{{ startup.website }}</td>
              <td>{{ startup.location }}</td>
              <td>{{ startup.pipeline }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        <p>You currently have {{ notes.length || 0 }} notes related to {{ founder.name }}.</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-sm-3">Date</th>
              <th class="col-sm-3">Status</th>
              <th class="col-sm-4">Note</th>
              <th class="col-sm-2" style="text-align:center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in notes">
              <td class="col-sm-3" am-time-ago="note.date"></td>
              <td class="col-sm-3">
                <span editable-select="note.status" e-name="status" e-form="rowform" e-ng-options="s.text as s.text for s in statuses">
                  {{ note.status }}
                </span>
              </td>
              <td class="col-sm-4">
                <span editable-text="note.note" e-name="note" e-form="rowform" e-required>
                  {{ note.note }}
                </span>
              </td>
              <td class="col-sm-2" style="white-space: nowrap; text-align: center">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible" onaftersave="updateNotes(note)" class="form-buttons form-inline notes-table-form">
                  <button type="submit" ng-disabled="rowform.$waiting">
                    <i type="submit" style="color: #5cb85c" class="fa fa-floppy-o fa-icon"></i>
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                    <i class="fa fa-times fa-icon" style="color: #d9534f"></i>
                  </button>
                </form>
                <div ng-show="!rowform.$visible" class="notes-table-form">
                  <button ng-click="rowform.$show()">
                    <i class="fa fa-plus-square fa-icon fa-icon" style="color: #03b9a0"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
