<div class="container">
  <h1>Add Entry</h1>
  <hr>
  <div ng-controller="addEntryCtrl">
    <form name="addEntry" ng-submit="add(startup, founder)" novalidate class="css-form form-horizontal" id="addEntry">

      <!-- Startup, Entrepreneur, or both -->
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="entry.startup" uib-btn-checkbox>Startup</label>
        <label class="btn btn-primary" ng-model="entry.founder" uib-btn-checkbox>Founder</label>
      </div>

      <!-- Date of entry -->
      <div class="form-group">
        <label for="date" class="col-sm-3 control-label">Date of Entry</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" autocomplete="on" ng-model="date" autofocus />
        </div>
      </div>

      <!-- Funnel Step -->
      <div class="form-group" ng-show="entry.startup">
        <label for="funnel" class="col-sm-3 control-label">Funnel Step</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="startup.funnel">
            <option value="1" select>1. Intro</option>
            <option value="2">2. Call</option>
            <option value="3">3. Meeting</option>
            <option value="4">4. Due Diligence</option>
            <option value="5">5. Accept</option>
            <option value="6">6. Pass</option>
          </select>
        </div>
      </div>

      <!-- Startup name -->
      <div class="form-group" ng-show="entry.startup">
        <label for="startup-name" class="col-sm-3 control-label">Startup Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="startup.name" />
        </div>
      </div>

      <!-- Intro Source -->
      <div class="form-group" ng-show="entry.startup">
        <label for="source" class="col-sm-3 control-label">Introduction</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="startup.source" />
        </div>
      </div>

      <!-- Location -->
      <div class="form-group" ng-show="entry.startup">
        <label for="startup-location" class="col-sm-3 control-label">Startup Location (City, State)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="startup.location" />
        </div>
      </div>

      <!-- Tagline -->
      <div class="form-group" ng-show="entry.startup">
        <label for="tagline" class="col-sm-3 control-label">Tagline</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="startup.tagline" />
        </div>
      </div>

      <h2 ng-show="entry.entrepreneur">Entrepreneur Information</h2>

      <!-- Founder Name -->
      <div class="form-group" ng-show="entry.founder">
        <label for="founder-name" class="col-sm-3 control-label">Founder Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="founder.name" />
        </div>
      </div>

      <!-- Founder Email -->
      <div class="form-group" ng-show="entry.founder">
        <label for="founder-email" class="col-sm-3 control-label">Founder Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" ng-model="founder.email" />
        </div>
      </div>

      <!-- Founder Phone -->
      <div class="form-group" ng-show="entry.founder">
        <label for="founder-phone" class="col-sm-3 control-label">Founder Phone</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" ng-model="founder.phone" />
        </div>
      </div>

      <!-- Location -->
      <div class="form-group" ng-show="entry.founder">
        <label for="founder-location" class="col-sm-3 control-label">Founder Location (City, State)</label>
        <div class="col-sm-9">
          <input type="text" rows="4" class="form-control" ng-model="founder.location" />
        </div>
      </div>


      <!-- Notes -->
     <!--  <div class="form-group" ng-show="entry.founder">
        <label for="founder-notes" class="col-sm-3 control-label">Founder Notes</label>
        <div class="col-sm-9">
          <textarea rows="4" class="form-control" ng-model="founder.notes" />
        </div>
      </div> -->

      <!-- Submit Button -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
        </div>
      </div>

      <pre>startup = {{ startup | json }}</pre>
      <pre>founder = {{ founder | json }}</pre>
    </form>
  </div>
</div>

      <!-- Radio Button -->
      <!-- <div class="form-group">
        <label for="radio" class="col-sm-3 control-label">Radio</label>
        <div class="col-sm-9">
          <div class="radio">
            <label>
              <input type="radio" name="radio-name" value="male" />Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="radio-name" value="female" />Female
            </label>
          </div>
        </div>
      </div>
      <div>
        <input type="submit" ng-click="add(startup, founder)" value="Save" />
      </div>
    </form>
   -->
