<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ startup.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-2 col-md-2" ng-hide="angelCompany.logo_url">
        <img src="assets/logo_blank.svg" alt="Startup Gravatar" class="img-thumbnail">
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2" ng-show="angelCompany.logo_url">
        <img src="{{ angelCompany.logo_url }}" class="img-thumbnail">
      </div>

      <form editable-form name="tableform" onaftersave="updateStartup(startup)" oncancel="cancel()">

        <div class="col-xs-12 col-sm-3 col-md-4">
          <p>
            <strong>Tagline: </strong>
            <span editable-text="startup.tagline">{{ startup.tagline || 'empty' }}</span>
          </p>

          <p>
            <strong>Industry: </strong>
            <span editable-select="startup.industry" e-ng-options="s.text as s.text for s in industries">{{ startup.industry || 'empty' }}</span>
          </p>

          <p>
            <strong>Location: </strong>
            <span editable-text="startup.location">{{ startup.location || 'empty' }}</span>
          </p>

          <p>
            <strong>Website: </strong>
            <span editable-url="startup.website">{{ startup.website || 'empty' }}</span>
          </p>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <p>
            <strong>Last Contact:</strong> {{ startup.lastContact | amDateFormat:'MM/DD/YYYY' }}
          </p>
          <p>
            <strong>Pipeline Step: </strong>
            <span editable-select="startup.pipeline" e-ng-options="s.text as s.text for s in pipelines">{{ startup.pipeline || 'empty' }}</span>
          </p>
          <p>
            <strong>Lead Partner: </strong>
            <span editable-text="startup.partner">{{ startup.partner || 'empty' }}</span>
          </p>
          <p>
            <strong>Intro Source: </strong>
            <span editable-text="startup.source">{{ startup.source || 'empty' }}</span>
          </p>
          <p>
            <strong>Intro Date:</strong> {{ startup.date | amDateFormat:'MM/DD/YYYY' }}
          </p>
        </div>

        <!-- buttons -->
        <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1">
          <nav>
            <ul class="nav nav-stacked span2">
              <li><button type="button" class="btn btn-profile btn-block" ng-show="!tableform.$visible" ng-click="tableform.$show()">Edit Profile</button></li>
              <li><button type="submit" class="btn btn-profile btn-success btn-block" ng-show="tableform.$visible" ng-disabled="tableform.$waiting">Save</button></li>
              <li><button type="button" class="btn btn-profile btn-danger btn-block" ng-show="tableform.$visible" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()">Cancel</button></li>
              <li><button type="button" class="btn btn-profile btn-block" ng-click="getAngelList(startup.name)">Get AngelList</button></li>
              <li><button type="button" class="btn btn-profile btn-block" ng-click="open(startup.name, startup.id)">Add Note</button></li>
            </ul>
          </nav>
        </div>
      </form>
    </div>
  </div>

  <div class="table-margin">
    <div class="panel panel-default" ng-show="angelListSelection" ng-hide="angelCompany.id || angelListSelection == null">
      <div class="panel-heading">
        <h3 class="panel-title">Multiple results... click the correct logo below:</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-6 col-md-2" ng-repeat="company in angelListSelection">
          <img ng-src="{{ company.pic }}" alt="No logo for: {{ company.name }}" class="img-thumbnail logo-pic" ng-click="getAngelCompany(company.id)" style="cursor:pointer">
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-show="angelCompany.id">
      <div class="panel-heading">
        <h3 class="panel-title">{{ angelCompany.name || "Not Available" }} - by AngelList</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p><strong>High Concept:  </strong>
              {{ angelCompany.high_concept || 'Not Available' }}
            </p>
            <p>
              <strong>Launch Date:  </strong>{{ angelCompany.launch_date || 'Not Available' }}
            </p>
            <p>
              <strong>Company Size:  </strong>{{ angelCompany.company_size || 'Not Available' }}
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Markets:  </strong>
              <span ng-repeat="market in angelCompany.markets">
                {{ market.display_name || 'Not Available' }}{{$last ? '' : ', '}}
              </span>
            </p>
            <p>
              <strong>Locations:  </strong>
              <span ng-repeat="location in angelCompany.locations">
                {{ location.display_name || 'Not Available' }}{{$last ? '' : ', '}}
              </span>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Website:  </strong><a href="{{ angelCompany.company_url }}" target="_blank">{{ angelCompany.company_url || "Not Available" }}</a>
            </p>
            <p class="social-angel"><strong>Social Profiles:  </strong>
              <a href="{{ angelCompany.crunchbase_url }}" ng-show="angelCompany.crunchbase_url" target="_blank"><img src="assets/crunch_base.png"/></a>
              <a href="{{ angelCompany.angellist_url }}" ng-show="angelCompany.angellist_url" target="_blank"><i class="fa fa-angellist fa-lg"></i></a>
              <a href="{{ angelCompany.facebook_url }}" ng-show="angelCompany.facebook_url" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a>
              <a href="{{ angelCompany.linkedin_url }}" ng-show="angelCompany.linkedin_url" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
              <a href="{{ angelCompany.twitter_url }}" ng-show="angelCompany.twitter_url" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><strong>Product Description:</strong></p>
            <p>{{ angelCompany.product_desc || 'Not Available' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Founders</h3>
      </div>
      <div class="panel-body">
        <p>There is {{ founders.length || 0 }} founder(s) at {{ startup.name }}. They are:</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Last Contact</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="founder in founders">
              <td>{{ founder.lastContact | amDateFormat:'MM/DD/YYYY' }}</td>
              <td><a ui-sref="founder({ founderId: founder.$id })">{{ founder.name }}</a></td>
              <td>{{ founder.email }}</td>
              <td>{{ founder.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="table-margin">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        <p>You currently have {{ notes.length || 0 }} notes related to {{ startup.name }}. They are:</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-sm-3">Date</th>
              <th class="col-sm-3">Status</th>
              <th class="col-sm-4">Note</th>
              <th class="col-sm-2" style="text-align:center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in notes">
              <td class="col-sm-3" am-time-ago="note.date"></td>
              <td class="col-sm-3">
                <span editable-select="note.status" e-name="status" e-form="rowform" e-ng-options="s.text as s.text for s in statuses">
                  {{ note.status }}
                </span>
              </td>
              <td class="col-sm-4">
                <span editable-text="note.note" e-name="note" e-form="rowform" e-required>
                  {{ note.note }}
                </span>
              </td>
              <td class="col-sm-2" style="white-space: nowrap; text-align: center">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible" onaftersave="updateNotes(note)" class="form-buttons form-inline notes-table-form">
                  <button type="submit" ng-disabled="rowform.$waiting">
                    <i type="submit" style="color: #5cb85c" class="fa fa-floppy-o fa-icon"></i>
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                    <i class="fa fa-times fa-icon" style="color: #d9534f"></i>
                  </button>
                </form>
                <div ng-show="!rowform.$visible" class="notes-table-form">
                  <button ng-click="rowform.$show()">
                    <i class="fa fa-plus-square fa-icon fa-icon" style="color: #03b9a0"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
